/*Default Color (For other color used see bootstrap css)*/
:root {
  --recommendeddark: #121212;
  --footer: #24272e;
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.logo img {
  max-width: 70px; /* Adjust the maximum width as per your requirement */
  height: auto;
}

nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #00a2ed !important;
  display: block;
  transition: 0.3s;
}

.navbar-collapse {
  padding-left: 3%;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="%2300a2ed"><path stroke="%2300a2ed" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}

.navbar-dark .navbar-toggler {
  border-color: #00a2ed;
}

.mode {
  display: none;
}

.content {
  margin: 0;
  padding: 0;
  display: grid;
  margin-top: 4.5% !important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #eeeded;
}

.logo {
  background-size: cover;
  align-items: center;
  padding-left: 3%;
  margin: 0;
  font-family: "Daddy Rewind", sans-serif;
  font-size: 35px;
  color: #00a2ed;
}

.list {
  margin: 0;
  display: flex;
  gap: 10px;
  padding-right: 5%;
}

.list ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  padding-right: 10%;
  padding-left: 0%;
  margin: 0;
}

.list ul li:hover {
  background-color: #00a2ed;
  border-radius: 20%;
}

.list ul li a:hover {
  color: white;
  font-size: 17px;
}

.list ul li {
  padding: 1%;
}

li {
  padding-top: 3.8%;
}

ul {
  padding-left: 0%;
}

a {
  text-decoration: none;
  color: #00a2ed;
}

a:hover {
  text-decoration: none;
}

.menu {
  display: none;
  position: fixed;
  z-index: 9999;
}

.moon {
  color: #00a2ed;
}

/*Profile*/
#profile h1 {
  text-align: center;
  font-size: 70px;
  padding: 1%;
  margin: 0;
  color: #00a2ed;
}

#profile {
  padding-top: 7%;
  overflow-x: hidden;
  color: #777;
  text-align: center;
  background-image: url("backgroundwhitetheme.png");
}

#profile ::before {
  font-size: 50px;
  font-style: normal;
}

/*For background profile animation go to animation.css file*/

p {
  font-family: "Poppins", sans-serif;
  line-height: 200%;
}

/*For text animation goto index.js file*/
#profile .typed {
  font-size: 200%;
}

.side-img {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 50%;
  bottom: 0;
  left: 30%;
}

#soc-link {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2%;
}
#soc-link ul,
#soc-link li {
  padding-bottom: 0;
}

.facebook,
.instagram,
.mail,
.github,
.moon {
  font-size: 30px;
  text-decoration: none;
}

.space {
  width: 250px;
  height: 250px;
}

/*For arrow animation goto arrow.css*/

/*About*/
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5%;
  gap: 5%;
  padding-top: 2%;
}

#about {
  padding: 2%;
}

#profile-img {
  width: 50%;
  align-items: center;
  display: block;
  position: relative;
}

#main-img {
  margin-left: 20%;
  border-radius: 100%;
  height: 63%;
  width: 63%;
  z-index: 2;
  position: relative;
  transition: 0.5s ease-in-out;
}

.circle {
  border-radius: 100%;
  margin-left: 20%;
  height: 100%;
  width: 60%;
  border: 5px solid #00a2ed;
  background-color: transparent;
  display: inline-block;
  position: absolute;
  left: 25%;
  padding: 0;
  margin: 0;
  z-index: 1;
}

#profile-des,
#skills,
#services {
  padding-right: 3%;
}

.services {
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  gap: 5%;
}

#section-text {
  color: #00a2ed;
  justify-items: center;
  margin-bottom: 0%;
}

#bottom-gap {
  margin-bottom: 0%;
}

/*For button animation goto buttonanimation.css*/

#about_details {
  padding-left: 4.5%;
  justify-content: space-between;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

#details {
  align-items: flex-start;
  width: 50%;
  padding-left: 3%;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  padding: 2.5%;
}

h2 {
  margin-bottom: 10%;
  font-family: "Rubik", sans-serif;
}

h3 {
  margin-top: 5%;
  font-family: "Rubik", sans-serif;
}

h3 i {
  padding-right: 1.2%;
}

#skills {
  width: 50%;
  padding-left: 3%;
}

/*For skills animations and design goto skills.css*/

/*Portfolio*/
div#type {
  display: flex;
  gap: 5%;
}

.portfolio-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
#portfolio-filters {
  list-style: none;
  text-align: center;
  padding: 2px 15px;
}
#portfolio-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
#portfolio-filters li:hover,
#portfolio-filters li.filter-active {
  color: #149ddd;
}
#portfolio-filters li:last-child {
  margin-right: 0;
}
#portfolio .portfolio-item {
  margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

#portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #777;
  font-weight: 600;
  margin-bottom: 10px;
}

#portfolio .portfolio-item .portfolio-info p {
  color: #999;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#portfolio .portfolio-item .portfolio-info .preview-link,
#portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #b8a07e;
}

#portfolio .portfolio-item .portfolio-info .preview-link:hover,
#portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #cab89f;
}

#portfolio .portfolio-item .portfolio-info .details-link {
  right: 2px;
  top: 40px;
}

#portfolio .portfolio-item .portfolio-info .preview-link {
  top: 40px;
}

#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}

/*Services*/

#des {
  width: 50%;
  padding-left: 0;
}

#des p {
  text-align: justify;
}

#des h3 {
  text-align: left;
}

#services,
#portfolio,
#contact {
  display: block;
  text-align: center;
  padding: 4.5%;
}

#services {
  justify-content: justify;
}

/*Contact*/

#contact span {
  color: red;
}

input,
textarea {
  text-align: center;
  margin: 0;
}

.form-controller {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}

.input-field {
  position: relative;
}
.input-field input,
.input-field textarea {
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 2px solid;
  background: transparent;
  outline: none;
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translateY(-50%);
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
  background-color: white;
}
.input-field input {
  width: 70%;
  height: 60px;
}
.input-field textarea {
  width: 70%;
  height: 60px;
}
input:focus,
textarea:focus {
  border: 2px solid #18ffff;
}
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: 0;
  left: 16%;
  font-size: 16px;
  padding: 0 2px;
}

/*To the top Arrow*/
button.btn.position-fixed.bottom-0.end-0.m-3 {
  --fade: 120px;
  background-color: #00a2ed;
  position: fixed;
  /* display: flex; */
  width: 55px;
  justify-self: end;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  mask: linear-gradient(
    #0000 calc(100vh + var(--offset)),
    #000 calc(100vh + var(--offset) + var(--fade))
  );
}

.top {
  position: sticky;
  margin-right: 10px;

  /* visual styling */
  width: 100%;
  aspect-ratio: 1;
  background: #00a2ed;
  border-radius: 10px;
}
.top:before {
  content: "";
  position: absolute;
  inset: 30%;
  transform: translateY(20%) rotate(-45deg);
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
}

/* remove the below if you don't want smooth scrolling */
html,
body {
  scroll-behavior: smooth;
}

/*Footer*/
footer {
  background-color: var(--footer);
  margin: 0;
  padding: 0;
  color: var(--gray);
}
.footer-p {
  text-align: center;
  color: var(--gray);
}

/*Media Queries*/
@media screen and (max-width: 991px) {
  .mode {
    display: inline-block;
  }
  .moon {
    padding-left: 0%;
  }
  /* #des {
    display: block;
    width: auto;
    padding-right: 3%;
    align-items: center;
  } */
  /* }
@media screen and (max-width: 868px) { */
  #profile {
    padding-top: 10%;
  }
  .content .moon {
    visibility: hidden;
  }
  a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
  }
  #details {
    padding-bottom: 5%;
  }

  h2 {
    margin-bottom: 5%;
  }
  .list ul {
    display: none;
  }
  .col-md-6 {
    width: 80%;
  }
  .list-group .moon {
    display: block;
  }
  .menu {
    display: flex;
  }
  #profile-des,
  #profile-img,
  #about,
  #details,
  #des,
  #skills,
  div #type {
    display: block;
    width: auto;
    padding-right: 3%;
    align-items: center;
  }
  #profile-des {
    margin-left: 4%;
    padding-right: 0%;
  }
  #skills {
    padding-right: 0%;
  }
  section {
    display: inline-block;
  }
  #profile .typed {
    font-size: 160%;
  }
  .col-md-6 {
    flex: 0 0 80%;
    max-width: 80%;
  }
}

@media screen and (max-width: 650px) {
  #profile {
    padding-top: 15%;
  }
  #profile .typed {
    border-right: 0.5% solid #777;
    font-size: 100%;
  }
  .skill .col-md-2 {
    flex: 0 0 auto;
    width: 33.33333334% !important;
  }
}

.skill {
  margin: 20px 0;
}

.skill-img {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image circular */
  margin: 10px; /* Adjust spacing between avatars */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow effect */
  object-fit: contain;
}

.skill-img:hover {
  transform: scale(1.1); /* Enlarge the avatar on hover */
  transition: transform 0.3s ease; /* Smooth transition */
}

#skills .container {
  max-width: -webkit-fill-available !important;
}

.skill .col-md-2 {
  width: 16.66666667%;
}

@media screen and (max-width: 450px) {
  .skill .col-md-2 {
    width: 50% !important;
  }
}

@media screen and (max-width: 350px) {
  .skill .col-md-2 {
    width: 100% !important;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
/* This pen */
article {
  font-family: "Baloo 2", cursive;
  font-size: 16px;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}

.dark {
  background: #110f16;
}

.light {
  background: #f3f5f7;
}

a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}
.postcard.dark {
  background-color: #18151f;
}
.postcard.light {
  background-color: #e1e5ea;
}
.postcard .t-dark {
  color: #18151f;
}
.postcard a {
  color: inherit;
}
.postcard h1,
.postcard .h1 {
  /* margin-bottom: 0.5rem; */
  font-weight: 500;
  line-height: 1.2;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 1.75rem;
  padding: 0;
  margin: 0;
  text-align: left;
}
.postcard .postcard__subtitle p {
  /* font-size: 1.25rem; */
  padding: 0;
  margin: 0;
  text-align: left;
}
.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.postcard .postcard__img_link {
  display: contents;
}
.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.postcard:hover .postcard__bar {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .postcard__title {
    font-size: 2rem;
  }
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n + 1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n + 0) {
    flex-direction: row-reverse;
  }
  .postcard:nth-child(2n + 1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .postcard:nth-child(2n + 0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark .postcard__text:before {
    background: #18151f;
  }

  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}
/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
}

.green .postcard__title:hover {
  color: #79dd09;
}

.green .postcard__bar {
  background-color: #79dd09;
}

.green::before {
  background-image: linear-gradient(
    -30deg,
    rgba(121, 221, 9, 0.1),
    transparent 50%
  );
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(
    30deg,
    rgba(121, 221, 9, 0.1),
    transparent 50%
  );
}

.postcard .postcard__tagbox .blue.play:hover {
  background: #00a2ed;
}

.blue .postcard__title:hover {
  color: #00a2ed;
}

.blue .postcard__bar {
  background-color: #00a2ed;
}

.blue::before {
  background-image: linear-gradient(
    -30deg,
    rgba(0, 118, 189, 0.1),
    transparent 50%
  );
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(
    30deg,
    rgba(0, 118, 189, 0.1),
    transparent 50%
  );
}

.postcard .postcard__tagbox .red.play:hover {
  background: #bd150b;
}

.red .postcard__title:hover {
  color: #bd150b;
}

.red .postcard__bar {
  background-color: #bd150b;
}

.red::before {
  background-image: linear-gradient(
    -30deg,
    rgba(189, 21, 11, 0.1),
    transparent 50%
  );
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(
    30deg,
    rgba(189, 21, 11, 0.1),
    transparent 50%
  );
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black;
}

.yellow .postcard__title:hover {
  color: #bdbb49;
}

.yellow .postcard__bar {
  background-color: #bdbb49;
}

.yellow::before {
  background-image: linear-gradient(
    -30deg,
    rgba(189, 187, 73, 0.1),
    transparent 50%
  );
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(
    30deg,
    rgba(189, 187, 73, 0.1),
    transparent 50%
  );
}

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(
      -80deg,
      rgba(121, 221, 9, 0.1),
      transparent 50%
    );
  }

  .green:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      rgba(121, 221, 9, 0.1),
      transparent 50%
    );
  }

  .blue::before {
    background-image: linear-gradient(
      -80deg,
      rgba(0, 118, 189, 0.1),
      transparent 50%
    );
  }

  .blue:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      rgba(0, 118, 189, 0.1),
      transparent 50%
    );
  }

  .red::before {
    background-image: linear-gradient(
      -80deg,
      rgba(189, 21, 11, 0.1),
      transparent 50%
    );
  }

  .red:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      rgba(189, 21, 11, 0.1),
      transparent 50%
    );
  }

  .yellow::before {
    background-image: linear-gradient(
      -80deg,
      rgba(189, 187, 73, 0.1),
      transparent 50%
    );
  }

  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      rgba(189, 187, 73, 0.1),
      transparent 50%
    );
  }
}
